/*-------- 2.3 Detail page --------*/
.reviews_summary {
  background-color: #051d4d;
}

@media (max-width: 767px) {
  .reviews_summary {
    text-align: center;
  }
}

.reviews_summary .wrapper {
  background: rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
  padding: 60px 0 55px 0;
}

.reviews_summary figure {
  width: 120px;
  height: 120px;
  overflow: hidden;
  display: block;
  position: relative;
  float: left;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .reviews_summary figure {
    float: none;
    margin: 0 auto 10px auto;
  }
}

.reviews_summary figure img {
  width: 120px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.reviews_summary small {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #999;
  margin-top: 5px;
  display: inline-block;
}

.reviews_summary h1 {
  font-weight: 500;
  color: #fff;
  margin-top: 5px;
  font-size: 36px;
  font-size: 2.25rem;
}

@media (max-width: 767px) {
  .reviews_summary h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}

.reviews_summary .rating {
  font-size: 14px;
  font-size: 0.875rem;
}

@media (max-width: 767px) {
  .reviews_summary .rating {
    margin: 0 0 15px 0;
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .reviews_summary .rating em {
    margin: 10px 0 0 0;
    display: block;
  }
}

.reviews_summary .rating i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-size: 1rem;
}

@media (max-width: 991px) {
  .review_detail {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .review_detail {
    margin-top: 15px;
  }
}

.review_detail strong {
  font-size: 12px;
  font-size: 0.75rem;
  color: #999;
  position: relative;
  top: -3px;
}

.review_detail .progress {
  margin-bottom: 11px;
  border-radius: 3px;
  height: 15px;
}

.review_detail .progress.last {
  margin-bottom: 0;
}

.review_detail .progress-bar {
  background-color: #ffc107;
}

.review_card {
  background-color: #fff;
  border-radius: 3px;
  padding: 25px 25px 0 25px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
  box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
}

@media (max-width: 767px) {
  .review_card .user_info {
    margin-bottom: 10px;
  }
}

.review_card .user_info figure {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .review_card .user_info figure {
    float: left;
  }
}

.review_card .user_info figure img {
  width: 40px;
  height: auto;
  margin: 0px;
}

.review_card .user_info h5 {
  font-size: 15px;
  font-size: 0.9375rem;
  margin: 4px 0px 0px;
  font-weight: 400;
}

.review_card .user_info span {
  font-size: 13px;
  color: #959595;
}

.review_card .review_content h4 {
  font-size: 18px;
  font-size: 1.125rem;
}

.review_card .review_content p {
  margin-bottom: 15px;
  font-size: 1rem;
}

.review_card .review_content span {
  font-size: 1rem;
}

.review_card .review_content span.badge {
  font-size: 0.75rem;
  font-weight: 500;
}

.review_card .review_content .rating {
  float: left;
}

@media (max-width: 575px) {
  .review_card .review_content .rating {
    float: none;
    display: block;
  }
}

@media (max-width: 575px) {
  .review_card .review_content .rating em {
    float: none;
    display: inline-block;
    margin-left: 10px;
  }
}

.review_card .review_content em {
  color: #999;
  float: right;
}

@media (max-width: 575px) {
  .review_card .review_content em {
    float: none;
    display: block;
    margin-top: 10px;
    margin-left: 0;
  }
}

.review_card .review_content ul {
  margin: 0 0 25px 0;
  padding: 0;
}

.review_card .review_content ul li {
  display: inline-block;
  font-size: 13px;
  font-size: 0.8125rem;
  margin-right: 4px;
}

.review_card .review_content ul li a {
  background-color: #f8f9fa;
  padding: 5px 10px;
  border-radius: 3px;
  color: #000;
  font-weight: 500;
}

.review_card .review_content ul li a:hover {
  background-color: #ccc;
}

.review_card .review_content ul li a i {
  margin-right: 5px;
}

@media (max-width: 575px) {
  .review_card .review_content ul li a i {
    margin-right: 0;
  }
}

.review_card .review_content ul li:last-child {
  float: right;
  margin-right: 0;
}

.review_card .review_content ul li:last-child a {
  padding: 5px 7px;
  text-align: center;
}

.review_card .review_content ul li:last-child a i {
  margin: 0;
  text-align: center;
}

.review_card .review_content img {
  max-width: 100%;
  height: auto;
  margin: 15px 0px;
}

.review_card .reply {
  padding-top: 30px;
}

@media (max-width: 767px) {
  .review_card .reply .user_info {
    display: none;
  }
}

.review_card .reply .user_info figure {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}

.review_card .reply .user_info figure img {
  width: 50px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.review_card .reply .user_info h5 {
  font-size: 14px;
  font-size: 0.875rem;
}

.review_card .reply .review_content {
  border-left: 5px solid #ededed;
  padding-left: 20px;
}

@media (max-width: 575px) {
  .review_card .reply .review_content strong {
    display: block;
  }
}

.review_card .reply .review_content em {
  color: #999;
  font-style: italic;
  float: right;
}

@media (max-width: 575px) {
  .review_card .reply .review_content em {
    float: none;
    display: block;
    margin-top: 10px;
  }
}

.box_general.company_info {
  padding-bottom: 1px;
}

.box_general.company_info h3,
.box_general.company_info h4 {
  font-weight: 500;
}

.box_general.company_info p {
  margin-bottom: 15px;
}

.box_general.company_info .follow_company a {
  font-size: 21px;
  font-size: 1.3125rem;
  color: #999;
  display: inline-block;
  margin-right: 5px;
}

.box_general.company_info .follow_company a:hover {
  color: #4069b5;
}

/*-------- 2.4 Write a review page --------*/
.box_general.write_review h1 {
  font-weight: 500;
  font-size: 32px;
  font-size: 2rem;
}

.rating {
  display: inline-block;
  position: relative;
  color: #999;
  font-size: 12px;
  font-size: 0.75rem;
}

.rating i {
  width: 20px;
  border-radius: 3px;
  height: 20px;
  font-size: 12px;
  font-size: 0.75rem;
  display: inline-block;
  background-color: #32a067;
  color: #fff;
  line-height: 20px;
  text-align: center;
  margin-right: 2px;
}

.rating i.empty {
  background-color: #ccc;
}

.rating em {
  display: inline-block;
  margin-left: 10px;
}

.rating-input {
  display: none;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover~.rating-star,
.rating-input:checked~.rating-star {
  background-position: 0 0;
}

.rating-star,
.rating:hover .rating-star {
  cursor: pointer;
  float: right;
  display: block;
  margin-right: 3px;
  width: 37px;
  height: 37px;
  background: url(https://www.schoolmykids.com/image/stars.svg) 0 -38px;
}

.box_general {
  background-color: #fff;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
  box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
}

.fileupload {
  position: relative;
  width: 320px;
}

input[type='file'] {
  background-color: #fff;
  border: 1px solid #ededed;
  padding: 5px;
  height: auto;
  color: #999;
  border-radius: 3px;
}

input[type='file']::-webkit-file-upload-button,
input[type='file'].invalid::-webkit-file-upload-button,
input[type='file'].valid::-webkit-file-upload-button {
  color: #fff;
  font-size: 13px;
  border: 0;
  border-radius: 3px;
  padding: 8px 10px 8px 38px;
  background: #4069b5;
  outline: none;
}

.latest_review>h4 {
  font-weight: 500;
  font-size: 21px;
  font-size: 1.3125rem;
  margin-bottom: 20px;
}

.latest_review .review_listing {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.review_listing {
  background-color: #fff;
  border-radius: 3px;
  padding: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
  box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
  margin-bottom: 30px;
}

.review_listing figure {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  float: left;
  margin-right: 15px;
}

.review_listing figure img {
  width: 40px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.review_listing small {
  display: block;
  font-weight: 500;
  margin-top: 3px;
  font-size: 13px;
  font-size: 0.8125rem;
}

.review_listing h3 {
  font-size: 14px;
  font-size: 0.875rem;
  color: #999;
  margin: 8px 0 3px 0;
}

.review_listing h3 strong {
  color: #222;
  font-weight: 500;
}

.review_listing h4 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.review_listing ul {
  margin: 0;
  text-align: center;
  color: #999;
}

.review_listing ul li {
  display: inline-block;
}

.review_listing ul li:first-child {
  float: left;
}

.review_listing ul li:last-child {
  float: right;
}

.review_listing ul li strong {
  margin-right: 3px;
  font-weight: 600;
}

a.box_cat_home {
  background-color: #fff;
  display: block;
  padding: 35px 15px 25px 15px;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
  box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
  color: #999;
}

a.box_cat_home h3 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
  color: #4069b5;
  padding: 4px 0;
  margin: 5px 0 15px 0;
  border-radius: 25px;
}

a.box_cat_home:hover {
  -webkit-box-shadow: 0 10px 20px rgba(3, 27, 78, 0.1);
  box-shadow: 0 10px 20px rgba(3, 27, 78, 0.1);
}

a.box_cat_home:hover i {
  opacity: 1;
}

a.box_cat_home ul {
  margin: 0 -10px -25px -10px;
  padding: 10px;
  text-align: center;
}

a.box_cat_home ul li {
  display: inline-block;
}

a.box_cat_home ul li:first-child {
  float: left;
}

a.box_cat_home ul li:last-child {
  float: right;
}

a.box_cat_home ul li strong {
  margin-right: 5px;
  font-weight: 600;
  color: #777;
}

/*-------- 2.10 Company categories --------*/
.all_categories ul {
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
}

@media (max-width: 991px) {
  .all_categories ul {
    margin: 0;
  }
}

.all_categories ul li {
  float: left;
  width: 45%;
  margin: 0 15px;
}

.all_categories ul li a {
  background-color: #f8f8f8;
  padding: 10px;
  display: block;
  margin-bottom: 5px;
  border-radius: 3px;
  position: relative;
  font-weight: 500;
  color: #000;
}

.all_categories ul li a strong {
  min-width: 35px;
  background-color: #fff;
  color: #999;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  padding: 6px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 3px;
}

.all_categories ul li a:after {
  font-family: 'ElegantIcons';
  content: '\24';
  right: 15px;
  top: 15px;
  position: absolute;
  color: #4069b5;
}

.all_categories ul li a:hover {
  background-color: #4069b5;
  color: #fff;
}

.all_categories ul li a:hover:after {
  color: #fff;
}

@media (max-width: 991px) {
  .all_categories ul li {
    float: none;
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .all_categories.sidebar {
    padding-left: 15px;
  }
}

.all_categories.sidebar ul li {
  float: unset;
  width: 100%;
  margin: 0px;
}

.company_listing {
  background-color: #fff;
  border-radius: 3px;
  padding: 25px;
  -webkit-box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
  box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
  margin-bottom: 30px;
  min-height: 160px;
}

.company_listing .company_info {
  position: relative;
  padding-left: 190px;
}

@media (max-width: 767px) {
  .company_listing .company_info {
    padding-left: 0;
    text-align: center;
  }
}

.company_listing .company_info h3 {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 500;
}

.company_listing .company_info p {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .company_listing .company_info p {
    margin-bottom: 25px;
  }
}

.company_listing .company_info figure {
  width: 170px;
  height: 110px;
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin-right: 20px;
  border: 1px solid #ededed;
}

@media (max-width: 767px) {
  .company_listing .company_info figure {
    position: relative;
    margin: 0 auto 15px auto;
  }
}

.company_listing .company_info figure img {
  width: 98px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.company_listing .rating {
  margin: auto;
  display: block;
  margin-bottom: 25px;
}

.company_listing .rating strong {
  display: block;
  margin-bottom: 5px;
}

/*-------- 2.11 User Dashboard --------*/
/* Dropdown user logged */
.dropdown-user .dropdown-menu {
  border: none;
  border-radius: 0;
  min-width: 0;
  padding: 0;
  width: 150px;
  top: 105%;
  margin-left: -95px;
  font-weight: normal;
  text-shadow: none;
  text-transform: none !important;
  border: none;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
  border-radius: 3px;
  padding: 0;
}

.dropdown-user .dropdown-menu:before {
  bottom: 100%;
  right: 10%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 7px;
  margin-left: -7px;
}

.dropdown-user .dropdown-menu ul {
  padding: 0;
  margin: 0 !important;
  list-style: none;
}

.dropdown-user .dropdown-menu ul li {
  border-bottom: 1px solid #ededed;
  margin: 0;
  width: 100%;
  margin-bottom: 15px;
  display: inline-block;
  font-size: 13px;
  font-size: 0.8125rem;
}

@media (max-width: 991px) {
  .dropdown-user .dropdown-menu ul li {
    margin: 0 !important;
  }
}

.dropdown-user .dropdown-menu ul li a {
  color: #000 !important;
  padding: 15px 8px 15px 8px;
  display: block;
}

.dropdown-user .dropdown-menu ul li a:hover {
  color: #4069b5 !important;
  opacity: 1 !important;
  padding-left: 15px;
}

.dropdown-user .dropdown-menu ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .dropdown-user .dropdown-menu ul li:first-child {
    display: block !important;
  }
}

.user_summary {
  background-color: #051d4d;
  border-bottom: 1px solid #ededed;
}

@media (max-width: 767px) {
  .user_summary {
    text-align: center;
  }
}

.user_summary .wrapper {
  background: rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(transparent));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
  padding: 60px 0 55px 0;
}

.user_summary figure {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  display: block;
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .user_summary figure {
    float: none;
    margin: 0 auto 10px auto;
  }
}

.user_summary figure img {
  width: 120px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.user_summary h1 {
  font-weight: 500;
  font-size: 32px;
  font-size: 2rem;
  margin: 0;
  color: #fff;
}

@media (max-width: 991px) {
  .user_summary h1 {
    font-size: 28px;
    font-size: 1.75rem;
    margin: 15px 0 0 0;
  }
}

.user_summary span {
  color: #999;
}

.user_summary ul {
  margin: 10px 0 0 0;
  padding: 0;
  float: right;
}

@media (max-width: 767px) {
  .user_summary ul {
    float: none;
    text-align: center;
  }
}

.user_summary ul li {
  display: inline-block;
  margin-left: 25px;
  text-align: center;
}

.user_summary ul li:first-child {
  margin-left: 0;
}

.user_summary ul li a {
  color: #fff;
}

.user_summary ul li strong {
  margin-bottom: 8px;
  width: 80px;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  font-size: 32px;
  font-size: 2rem;
  display: block;
  font-weight: 500;
}

.review_card .review_content ul li a.btn_delete {
  background-color: #e04040 !important;
  color: #fff !important;
}

.review_card .review_content ul li a.btn_delete:hover {
  background-color: #b41a1a !important;
}

.settings_panel {
  background-color: #fff;
  border-radius: 3px;
  padding: 25px 25px 1px 25px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
  box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
}

.settings_panel h3 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.settings_panel hr {
  margin: 20px -25px;
  border-color: rgba(3, 27, 78, 0.08);
}

.general_info {
  padding: 25px 25px 1px 25px;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 1px solid #ededed;
  -webkit-box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
  box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
}

.general_info hr {
  margin-left: -25px;
  margin-right: -25px;
  border-color: rgba(3, 27, 78, 0.06);
}

.general_info h3 {
  font-weight: 500;
  font-size: 21px;
  font-size: 1.3125rem;
  position: relative;
  padding-right: 40px;
}

.general_info h3 i {
  font-weight: bold;
  color: #4069b5;
  font-size: 28px;
  font-size: 1.75rem;
  position: absolute;
  right: 0;
  top: -2px;
}

.call_section_2 {
  background: #0054a6;
  background-size: cover;
  text-align: center;
}

.call_section_2 .wrapper {
  padding: 60px 0;
  background: rgba(0, 0, 0, 0.6);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
}

.call_section_2 h3 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 25px;
}

.call_section_2 .btn_1 {
  background-color: #fff;
  color: #4069b5 !important;
}

/*# sourceMappingURL=reviews.css.map */